<!DOCTYPE html>
<html lang="vi">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lịch sử đơn hàng</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script defer src="/js/user.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">

  <style>
    body{
      background:#0d0d0d;
      font-family:Inter,sans-serif;
    }

    .serif{
      font-family:"Playfair Display",serif;
    }
  </style>

</head>


<body>


<div id="app"></div>



<script src="/js/orders.js"></script>
</body>
</html>
